body {
    background-color: black;
}

#welcomeMessage {
    color: white;
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
}

#summonerInput {
    position:absolute;
    width:800px;
    left:30%;
    margin-left:-400px;
    top:50%;
    text-align:center;
}

#welcome {
    z-index: -1;
}

.banner {
    width: 5%;
    padding: 0.1em 1%;
    word-wrap: break-word;
}

h1 {
    color: white;
    text-align: center;
    font-size: 150%;
}

h4 {
    color: white;
    position: relative;
    margin: 0px;
    font-size: 50%;
}

.bannerTalk {
    color: white;
    font-style: italic;
    position: relative;
    top: 50%;
    transform: rotate(-90deg);
    text-shadow: 2px 2px 0px black;
    white-space: nowrap;
}

#for{
    position: relative;
    text-align: center;
    font-style: italic;
    font-size: 100%
}

#g{
    top: -20px;
    text-align: center;
}
#a{
    top: -20px;
    text-align: center;
}


#welcoming {
    color: white;
    font-style: italic;
    position: relative;
    top: 80px;
    transform: rotate(-90deg);
    text-shadow: 2px 2px 8px #FF0000;
    white-space: nowrap;
}

#site {
    border-style: double;
    border-color: yellow;
    height: 300px;
    display: inline-block;
    opacity: 0.5;
    background-color: black;
    position: absolute;
}

#champions{
    height: 350px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-position: 10%;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0.5;
    position: absolute;
    left: 67%;
    top: 0%;
    z-index: 1;
}

#items {
    height: 400px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-position: 30%; 
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0.5;
    position: absolute;
    left: 75%;
    top: 0%;
    z-index: 1;
}

#mnr {
    height: 450px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    opacity: 0.5;
    position: absolute;
    left: 83%;
    top: 0%;
    z-index: 1;
}

#battle {
    height: 500px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-repeat: no-repeat;
    background-position: 70%;
    display: inline-block;
    opacity: 0.5;
    position: absolute;
    left: 91%;
    top: 0%;
    z-index: 1;
}



