body {
    background-color: black;
}

#champSelect {
    position: absolute;
    left: 19%;
    height: 70%;
    width: 55%;
    overflow: auto;
    overflow-y: scroll;
    display: none;
    
}

#champSelect > div {
    display: inline-block;
	float: left;
	opacity: 0.6;
	border: 2px solid black;
	margin: 1px;
	
	-webkit-transition: opacity 0.25s,border 0.25s;
	transition: opacity 0.25s,border 0.25s;
	
	width: 60px;
	min-width: 60px;
	max-width: 60px;
	
	height: 60px;
	min-height: 60px;
	max-height: 60px;
}

#champSelect > div:hover {
    border: 2px solid white;
	opacity: 1;
}

.visible > img {
    display: block;
    width: 60px;
    height: 60px;
}

#welcome {
    position:absolute;
    width:800px;
    left:30%;
    margin-left:-400px;
    top:50%;
    text-align:center;
    z-index: -1;
}

.banner {
    width: 5%;
    padding: 0.1em 1%;
    word-wrap: break-word;
    opacity: 0.7;
}

h1 {
    color: white;
    text-align: center;
    font-size: 150%;
}

h4 {
    color: white;
    position: relative;
    margin: 0px;
    font-size: 50%;
}

.bannerTalk {
    color: white;
    font-style: italic;
    position: relative;
    top: 50%;
    transform: rotate(-90deg);
    text-shadow: 2px 2px 0px black;
    white-space: nowrap;
}

#for{
    position: relative;
    text-align: center;
    font-style: italic;
    font-size: 100%
}

#g{
    top: -20px;
    text-align: center;
}
#a{
    top: -20px;
    text-align: center;
}


#welcoming {
    color: white;
    font-style: italic;
    position: relative;
    top: 80px;
    transform: rotate(-90deg);
    white-space: nowrap;
}

#site {
    border-style: double;
    border-color: yellow;
    height: 300px;
    display: inline-block;
    background-color: black;
    position: absolute;
    
}    

#champions{
    height: 450px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 67%;
    top: 0%;
    z-index: 1;
}

#items {
    height: 500px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-position: 30%; 
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 75%;
    top: 0%;
    z-index: 1;
}

#mnr {
    height: 550px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: inline-block;
    position: absolute;
    left: 83%;
    top: 0%;
    z-index: 1;
}

#battle {
    height: 600px;
    background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_large/public/upload/art/promoart_2_1920x1080.jpg?itok=kjiJh5iV");
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: 91%;
    top: 0%;
    z-index: 1;
}



